<div align="center" style="margin-top: 100px;" class="container">

    <h2 style="color: blue;">Login</h2>

<span>{{form.inputError}}</span>
        <h3>
            <font color="green">{{form.message}}</font>
            </h3>

    <form (submit)="signIn()">
        <table>
            <tr>
                <th style="color: teal;">LoginId</th>
                <td><input type="text" [(ngModel)]="form.data.loginId" name="loginId" placeholder="enter your email"></td>
            </tr>
            <tr>
                <th style="color: sandybrown;">Password</th>
                <td><input type="text" [(ngModel)]="form.data.password" name="password" placeholder="enter password">
                </td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" value="SignIn">
                &nbsp;&nbsp;
                <button>
                    <a style="text-decoration: none;" href="signup">SignUp</a>
                </button>
                </td>
            </tr>
        </table>
    </form>

</div>
