<div align="center" style="margin-top: 100px;" class="container">
    
    <h1 style="margin-top: 2px; color: darkslategrey;">User Registration</h1>

        <h2>{{form.message}}</h2>
        <h3 style="color:red;">{{form.inputError}}</h3>

    <form (submit)="signUp()">
        <table>
            <tr>
                <th style="color:brown;" >First Name</th>
                <td><input type="text" [(ngModel)]="form.data.firstName" name="firstName"
                        placeholder="enter first name">
                </td>
            </tr>

            <tr>
                <th style="color:brown;" >Last Name</th>
                <td><input type="text" [(ngModel)]="form.data.lastName" name="lastName" placeholder="enter last name">
                </td>
            </tr>

            <tr>
                <th style="color:teal;">LoginId</th>
                <td><input type="text" [(ngModel)]="form.data.loginId" name="loginId" placeholder="enter your email"></td>
            </tr>

            <tr>
                <th style="color:tomato" >Password</th>
                <td><input type="text" [(ngModel)]="form.data.password" name="password" placeholder="enter password">
                </td>
            </tr>

            <tr>
                <th style="color:yellow;">DOB</th>
                <td><input type="date" [(ngModel)]="form.data.dob" name="dob"></td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="SignUp"></td>
            </tr>
        </table>
    </form>

</div>
